{% extends 'base.html.twig' %}

{% block title %}lib livre | accueil{% endblock %}

{% block body %}
<header class="Header">
{% include "./components/navbar/navbar.html.twig" %}
{% include "./components/navbar/homeMenu.html.twig" %}
</header>
<main class="main-content flex-grow-1">
    <div class="container">
    <section class="info-item d-flex mb-5 mt-4">
        <figure class="mr-4">
            <img src="{{book.image}}" alt="couverture livre" class="imageSingle">
        </figure>
        <div class="description">
            <h1 class="h4 dm-font">{{book.name}}</h1>
            <p>de : {{book.author}}</p>
            {# Si le book est disponible #}
            {% if book.isAvailable == true%}
            <p>Disponibilité: En stock</p>
            {% else %}
            <p>Disponibilité: Hors stock</p>
            {% endif %}

            {% if book.isAvailable == true%}
            <a href="/single/addOrder/{{book.id}}" class="btn btn-outline-success">Commander</a>
            {% else %}
            <button class="btn btn-outline-danger" disabled>Non disponible</button>
            {% endif %}
            
            
        </div>
    </section>
    <section class="description-book">
        <h2 class="h3 dm-font">Quatrième de couverture</h2>
        <p>
            {{book.summary}}
        </p>
    </section>
    </div>
</main>
{% include "./components/footer/footer.html.twig" %}
{% endblock %}
