<section class="d-flex flex flex-column">
    {% for book in books %}

    <article class="card-item mb-3 d-flex">
        <figure class="card-figure">
            <img src="{{book.image}}" alt="Image de couverture" class="imageItem">
        </figure>
        <div class="card-item-content">
            <h3 class="h5 fw-bold dm-font">{{book.name}} <span class="h6 fw-light fst-italic">{{book.author}}</span></h3>
            <p class="card-item-description mb-4">
                {{book.summary}}
            </p>
            <a href="/single/{{book.id}}" class="btn bg-vert">Voir plus</a>
        </div>
    </article>

    {% endfor %}

</section>