<section class="d-flex flex flex-column">
    {% for book in books %}

    <article class="card-item mb-3 d-flex flex-wrap flex-md-nowrap justify-content-center justify-content-md-start">
        <figure class="card-figure m-0 flex-shrink-0">
            <img src="{{book.image}}" alt="Image de couverture" class="imageItem">
        </figure>
        <div class="card-item-content text-center text-md-start">
            <h3 class="h5 fw-bold dm-font">{{book.name}} <span class="h6 fw-light fst-italic">{{book.author}}</span></h3>
            <p class="card-item-description mb-4">
                {{ book.summary|u.truncate(100, '...') }}
            </p>
            <a href="{{ path('app_single',{ 'id': book.id,'title': book.name }) }}" class="btn bg-vert m-md-0 m-auto">Voir plus</a>
        </div>
    </article>

    {% endfor %}


</section>
