<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#23645e;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Lib livre</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_shop') }}">Boutique</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1">Contact</a>
        </li>
      </ul>
      <form class="d-flex align-items-center gap-3">
        {% if app.user %}
        <div class="dropdown">
          <span class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{{app.user}}</span>
          <ul class="dropdown-menu dropdown-menu dropdown-menu-sm-end">
            <li><a href="{{ path('app_user') }}" class="dropdown-item">Mon profile</a></li>
            {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_BIBLI") %}
            <li><a href="{{ path('admin.index') }}" class="dropdown-item">Administration</a></li>
            {% endif %}
            <li><a href="{{ path('app_logout') }}" class="dropdown-item">Se déconnecter</a></li>
          </ul>
        </div>
        {% else %}
        <a class="btn btn-success" href="{{ path('app_login') }}">Se connecter</a>          
        {% endif %}
      </form>
    </div>
  </div>
</nav>
