{% extends 'base.html.twig' %}

{% block title %}Bonjour {{ app.user.lastname }}{% endblock %}

{% block body %}
<header class="Header">
{% include "./components/navbar/navbar.html.twig" %}
</header>
<main class="main-content flex-grow-1">
    <div class="container">
        <h1 class="h4 mb-4 dm-font">Mes informations</h1>

        {{ form_start(form) }}
            <div class="row">
                <div class="col-sm-6 my-2 my-sm-3">
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </div>
                <div class="col-sm-6 my-2 my-sm-3">
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 my-2 my-sm-3">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="col-sm-6 my-2 my-sm-3">
                    {{ form_label(form.tel) }}
                    {{ form_widget(form.tel) }}
                </div>
            </div>
            <div class="row">
                <div class="col my-2 my-sm-3">
                    {{ form_label(form.birthDate) }}
                    {{ form_widget(form.birthDate) }}
                </div>
            </div>

            <button type="submit" class="btn bg-vert my-3">Modifier</button>
        {{ form_end(form) }}

        <div>
            <h2 class="h4 dm-font">Mes réservations</h2>
                    {% for booking in ArrayBooking %}
                    <div class=" d-flex gap-3 p-3 m-2 bg-light w-100 bookingsDiv">
                        <figure>
                            <img src="{{booking.books[0].image}}" alt="{{booking.books[0]}}" class="imageSingle">
                        </figure>
                        <div class="content">
                            <p>Référence de commande : {{booking.reference}}</p>
                            {# <p>Date de création {{booking.created_At|date()}}</p> #}
                            <p>Adresse mail rataché : {{booking.user.email}}</p>
                            <p>Livre réservé: {{booking.books[0]}}</p>
                        </div>
                        <div class="buttonDiv">
                        <a href="{{ path('app_user_delete_booking',{ 'id': booking.id }) }}">
                            Annuler
                        </a>

                        </div>
                    </div>
                    {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
