{% extends 'base.html.twig' %}

{% block title %}Bonjour {{ app.user.lastname }}{% endblock %}

{% block body %}
<header class="Header">
{% include "./components/navbar/navbar.html.twig" %}
</header>
<main class="main-content flex-grow-1">
    <div class="container">
        <h1 class="h4 mb-4 dm-font">Mes informations</h1>

        {{ form_start(form) }}
            <div class="row">
                <div class="col-sm-6 my-2 my-sm-3">
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </div>
                <div class="col-sm-6 my-2 my-sm-3">
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 my-2 my-sm-3">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="col-sm-6 my-2 my-sm-3">
                    {{ form_label(form.tel) }}
                    {{ form_widget(form.tel) }}
                </div>
            </div>
            <div class="row">
                <div class="col my-2 my-sm-3">
                    {{ form_label(form.birthDate) }}
                    {{ form_widget(form.birthDate) }}
                </div>
            </div>

            <button type="submit" class="btn bg-vert my-3">Modifier</button>
        {{ form_end(form) }}

        <div class="mb-3">
            <h2 class="h4 dm-font">Mes réservations</h2>
            {% if ArrayBooking|length == 0 %}
                <p>Pas de réservation pour le moment</p>
            {% endif %}
            {% for booking in ArrayBooking %}
            <div class="card">
                <div class="card-body row">
                    <figure class="col-sm-2">
                        <img src="/upload/books/{{booking.book.image}}" alt="{{booking.book}}" class="w-100">
                    </figure>
                    <div class="col-sm-10">
                        <p>Référence de commande : {{booking.reference}}</p>
                        <p>Réservé le {{booking.getCreatedAt|date("d/m/Y")}}</p>
                        {# <p>Adresse mail rataché : {{booking.user.email}}</p> #}
                        <p>Titre: {{booking.book}}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('app_user_delete_booking',{ 'id': booking.id }) }}" class="btn btn-danger">Annuler</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
